:root {
    --black: #111;
    --violet: #1E1823;
    --gray: #4C4C4C;
    --orange: #FD9222;
    --beige: #FCF1E0;
    --light: #FAFAFA;
    --white: #FFF;
}

/* Body */
body {
    font-family: Montserrat, sans-serif;
    color: var(--black, #111);
    background-color: var(--light, #FAFAFA);;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
}

/* Common */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1168px;
    margin: 0 auto;
    padding: 0 16px;
}

.accent {
    color: var(--orange, #FD9222);;
}

/* Logo */

.logo {
    display: inline-flex;
    align-items: center;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}

.logo-accent {
    font-style: italic;
    margin-left: 4px;
}

.socials {
    display: flex;
    gap: 14px;
}

.socials-item {
    width: 40px;
    height: 40px;
}

.socials-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.1);
}

/* Header */

.header>.container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-grow: 1;
    margin-right: 90px;
}

.header-list {
    display: flex;
    gap: 24px;
}

.header-link {
    display: block;
    padding: 32px 0;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.header-link:hover,
.header-link:focus {
    color: var(--orange, #FD9222);;
}

/* Hero */
.hero {
    padding-bottom: 80px;
}

.hero>.container {
    padding: 381px 40px 40px 40px;

    border-radius: 30px;
    background: rgba(17, 17, 17, 0.7);
}

.hero-title {
    width: 484px;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--white, #FFF);
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-list {
    display: inline-flex;
    gap: 14px;
}

.btn {
    min-width: 144px;
    min-height: 45px;
    padding: 14px 40px;
    font-weight: 600;
    line-height: 1.21;
    color: var(--white, #FFF);
    ;
    background-color: transparent;
    border-radius: 100px;
    border: 1px solid transparent;
}

.btn-accent {
    background-color: var(--orange, #FD9222);
}

.btn-accent:hover,
.btn-accent:focus {
    color: var(--orange, #FD9222);
    background-color: var(--beige, #FCF1E0);
}

.btn-light {
    color: var(--white, #FFF);
    ;
    border-color: var(--white, #FFF);
    ;
}

.btn-light:hover,
.btn-light:focus {
    color: var(--orange, #FD9222);
    ;
    border-color: var(--orange, #FD9222);
    ;
}

.btn-dark {
    font-size: 18px;
    color: currentColor;
    border-color: var(--orange, #FD9222);
    ;
}

.btn-dark:hover,
.btn-dark:focus {
    color: var(--white, #FFF);
    ;
    background-color: var(--orange, #FD9222);
    ;
}

.hero-link {
    display: inline-flex;
    align-items: center;
    gap: 14px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;
    color: var(--white, #FFF);
}

.hero-link:hover,
.hero-link:focus {
    color: var(--orange, #FD9222);;
}

.hero-link-box {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 38px;
    height: 38px;

    background-color: var(--white, #FFF);
    border-radius: 50%;
}

/* Benefits */
.benefits {
    padding: 50px 0;
    background: var(--violet, #1E1823);;
}

.benefits-list {
    display: flex;
    justify-content: center;
    gap: 88px;
}

.benefits-item {
    width: 308px;
}

.benefits-caption {
    margin-bottom: 18px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: var(--white, #FFF);
}

.benefits-desc {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* Ingridients */

.ingridients {
    padding: 60px 0;
}

.ingridients-title {
    width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.ingridients {
    padding-top: 120px;
}

.ingridients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.ingridients-item {
    width: calc((100% - 32px * 3) / 4);

    padding: 28px;
    background: var(--white, #FFF);
    border-radius: 15px;
    border: 1px solid transparent;
}

.ingridients-item:nth-child(4n + 1) {
    color: var(--white, #FFF);
    background: var(--orange, #FD9222);;
}

.ingridients-item:nth-child(4n + 3) {
    color: var(--white, #FFF);
    background: var(--violet, #1E1823);;
}

.ingridients-item:nth-child(2n) {
    border-color: var(--orange, #FD9222);;
}


.ingridients-caption {
    margin-top: 36px;

    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

/* Made */

.made {
    padding: 60px 0;
}

.made-title {
    width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
}

.made-item {
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/* Products */

.products {
    padding: 60px 0;
}

.products-title {
    width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;
}

.products-item {
    width: calc((100% - 18px * 3) / 4);
    padding: 32px 20px;
    background: var(--white, #FFF);
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);

    text-align: center;
}

.products-heading {
    margin: 8px 0 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-category {
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.products-price {
    padding: 8px 20px;
    font-weight: 600;
    line-height: 1.21;
    background: var(--light, #FAFAFA);;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
}

/* Bestsellers */

.bestsellers {
    padding: 60px 0;
}

.bestsellers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px
}

.bestsellers-ill {
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    margin-bottom: 28px;
}

.bestsellers-title {
    width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.bestsellers-item {
    background: var(--white, #FFF);
}

.bestsellers-caption {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
}

/* Reviews */

.reviews {
    padding: 60px 0;
}

.reviews-title {
    width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.reviews-title {
    margin-bottom: 92px;
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;

    margin-bottom: 50px;
}

.reviews-item {
    width: 360px;
    padding: 24px;
    background: var(--white, #FFF);
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
}

.reviews-avatar {
    margin: 0 auto;
}

.reviews-author {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

.reviews-text {
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.reviews .btn {
    display: block;
    margin: 0 auto;
}

/* Footer */

.footer {
    background:var(--violet, #1E1823);
}

.footer-slogan {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: var(--white, #FFF);
}

.footer-slogan-accent {
    color:var(--orange, #FD9222);;
}

.footer-caption {
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    color: var(--white, #FFF);
}

.footer-menu-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--white, #FFF);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
    color: var(--orange, #FD9222);;
}

/* #region Contacts */

.contacts-link {
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--white, #FFF);
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--orange, #FD9222);;
}
